<% if resource.errors.any? %>
  <div class="auth-errors" data-turbo-temporary>
    <i class="bi bi-exclamation-circle-fill"></i>
    <div>
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>
