<% content_for :title, "Edit Profile" %>

<div class="mb-4">
  <%= link_to @user, class: "btn-outline-nc btn-sm-nc" do %>
    <i class="bi bi-arrow-left"></i> Back
  <% end %>
</div>

<div class="form-wrap">
  <h1 class="form-page-title">Edit profile</h1>
  <p class="form-page-sub">Update your details below</p>
  <%= render "form", user: @user %>
</div>
