<% content_for :title, "Add Someone" %>

<div class="mb-4">
  <%= link_to users_path, class: "btn-outline-nc btn-sm-nc" do %>
    <i class="bi bi-arrow-left"></i> Back
  <% end %>
</div>

<div class="form-wrap">
  <h1 class="form-page-title">Add to the crew</h1>
  <p class="form-page-sub">Who's joining the table?</p>
  <%= render "form", user: @user %>
</div>
