<% content_for :title, "Edit Meal" %>

<div class="mb-4">
  <%= link_to @post, class: "btn-outline-nc btn-sm-nc" do %>
    <i class="bi bi-arrow-left"></i> Back
  <% end %>
</div>

<div class="form-wrap">
  <h1 class="form-page-title">Edit meal</h1>
  <p class="form-page-sub">Update the details below</p>
  <%= render "form", post: @post %>
</div>
