<% content_for :title, "New Meal" %>

<div class="mb-4">
  <%= link_to posts_path, class: "btn-outline-nc btn-sm-nc" do %>
    <i class="bi bi-arrow-left"></i> Back
  <% end %>
</div>

<div class="form-wrap">
  <h1 class="form-page-title">Plan a meal</h1>
  <p class="form-page-sub">What are you eating and when?</p>
  <%= render "form", post: @post %>
</div>
